* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General */

:root {
    --primary: magenta;
    --dark: #333;
    --white: whitesmoke;
    --grey: rgb(192, 189, 189);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.wrapper-container {
    display: grid;
    max-width: 900px;
    position: relative;
    margin: auto;
    grid-template-areas: "header header header header"
                         "main main main sidebar"
                         "article article article article"
                         "footer footer footer footer";
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

/* Typography */

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--primary);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


ul a {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.3rem;
    align-items: center;
}

/* Navigation */

.container {
    display: flex;
    justify-content: space-evenly;
    width: 90%
    max-width: 900px;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

@media (max-width: 500px) {
    nav ul {
        flex-direction: column;
        margin: 1em 0;
    }
}

nav li {
    margin-left: 1.5em;
    padding: .5em 0;
}

@media (max-width: 500px) {
    nav li {
        margin: 0;
    }
}


ul a {
    text-decoration: none;
    
}

ul a:hover {
    color: magenta;
}

/* Design */

header {
    background-color: var(--grey);
    grid-area: header;
}

main {
    background-color: var(--white);
    grid-area: main;
}

.sidebar {
    background-color: var(--dark);
    grid-area: sidebar;
}

article {
    background-color: var(--white);
    grid-area: article;
}

footer {
    background-color: var(--grey);
    grid-area: footer;
}
